<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>edit form</title>
</head>
<body>
    <h2>you are about to edit this user:<%=user.email%></h2>
    <form action="/user/<%=user.id%>?_metod=PATCH" method="GET">
        <textarea name="username" id="" cols="30" rows="10"><%=user.username%></textarea>
        <button>Edit</button>
        <input type="password" name="password" placeholder="enter password">
    </form>
</body>
</html>